<!--ナビバー開始-->
  <div class="arazin-navbar">
    <!--fixed-topは上部で固定-->
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark p-0" style="background-color:#696969">
      <div class="container">
        <div class="row"> 
        <!--ハンバーガーメニュー開始-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbararazinContent" aria-controls="navbararazinContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <!--ハンバーガーメニュー終了-->
        
          <div class="collapse navbar-collapse" id="navbararazinContent">
            <ul class="navbar-nav">
            <!--※合計の列が24になっている-->
            
             <div class="col-lg-4">
                <li class="nav-item1">
                  <a class="nav-link " href="#">スーパーDEAL</a>
                </li>
              </div>
             <div class="col-lg-4">
              <li class="nav-item2">
                <a class="nav-link" href="#">ランキング</a>
              </li>
              </div>
              <div class="col-lg-4">
                <li class="nav-item3">
                  <a class="nav-link" href="#">カード</a>
                </li>
              </div>
              <div class="col-lg-4">
                <li class="nav-item4">
                  <a class="nav-link" href="#">ヘルプ</a>
                </li>
              </div>
              <div class="col-lg-4">
                <li class="nav-item5">
                  <a class="nav-link" href="#">出店</a>
                </li>
              </div>
            </ul>
          </div>
         
        
        </div>
      </div>
    </nav>
  </div>
<!--ナビバー終了-->