<!--トップメニュー-->
    <div class="arazin-top-menu">
      <div class="row top-col">
        
        <!--トップタイトル-->
        <div class="col-lg-1 col-sm-2 mb-lg-3">
          <div class="arazin-title">
            <h1><%= link_to "Zin", root_path %></h1>
          </div>
        </div>
        
        <!--検索フォーム-->
        <div class="col-lg-6 col-sm-12 mb-lg-3">
          <%= render 'static_pages/arazin-serch' %>
        </div>
        
        <!--トップアイコン-->
        <div class="col-lg-5 col-sm-12 mb-3">
          <!--買い物かご-->
          <%= link_to(current_cart,class: 'arazin-cart') do %>
            <span class ="icon-cart">
             <i class="fas fa-shopping-cart"></i> <p>買い物かご</p>
            </span>
          <% end %>
          
          <!--お知らせ-->
          <a href="#" class="arazin-info">
            <div class="icon-info">
              <i class="fas fa-info-circle"></i>
              <p>お知らせ</p>
            </div>
          </a>
          
          <!--閲覧履歴-->
          <a href="#" class="arazin-browsing-history">
            <div class="icon-browsing-history">
              <i class="fas fa-history"></i>
              <p>閲覧履歴</p>
            </div>
          </a>
          
          <!--お気に入り-->
          <a href="#" class="arazin-favorite">
            <div class="icon-favorite">
              <i class="far fa-star"></i>
              <p>お気に入り</p>
            </div>
          </a>
          
          <!--購入履歴-->
          <a href="#" class="arazin-purchase-history">
            <div class="icon-purchase-history">
              <i class="far fa-file-alt"></i>
              <p>購入履歴</p>
            </div>
          </a>
          
          </div>
      </div>
    </div>