<!--検索フォーム-->
  <!--<div class="arazin-serch">-->
  <!--  <div class="input-group">-->
      <!--placeholderで最初の文字を出力　-->
  <!--    <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="キーワードから探す" >-->
  <!--      <div class="input-group-append">-->
  <!--        <button class="btn btn-outline-secondary dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">詳細検索</button>-->
  <!--        <div class="dropdown-menu">-->
  <!--          <a class="dropdown-item" href="#">Action</a>-->
  <!--          <a class="dropdown-item" href="#">Another action</a>-->
  <!--          <a class="dropdown-item" href="#">Something else here</a>-->
  <!--          <div role="separator" class="dropdown-divider"></div>-->
  <!--          <a class="dropdown-item" href="#">Separated link</a>-->
  <!--        </div>-->
  <!--        <button type="submit" class="arazin-serch-icon">-->
  <!--          <i class="fas fa-search renzu"></i>-->
  <!--        </button>-->
  <!--      </div>-->
  <!--  </div>-->
  <!--</div>-->
  
