<!--検索フォーム-->
<div class="arazin-serch"> 
  <%= search_form_for @q,url: items_path do |f| %>

    <%# start 特定の文字列で始まる商品名で検索 %>
    <%= f.search_field :name_or_content_cont, class:"serch-form",placeholder:"キーワードから探す" %>
    <button type="submit" class="arazin-serch-icon">
      <i class="fas fa-search renzu"></i>
    </button>
  <% end %>
</div>