<!--サイドメニュー1(画像と配達日)-->
<div class="arazin-side-menu1">
  <%= image_tag 'point_bonus',class:"side_image1",alt: "side_image1"%>
  <img class="side-image2" src="https://placehold.it/150x100" alt="test">
  <a href="#">
    <p class="araraku">アラジンの翌日配達「アラ楽」</p>
  </a>
  
  <div class="haitatubi">
    <p class="saitan">最短</p>
    <!--明日の日付を出力-->
    <div id="view_today"></div>
    <!--明日の曜日を出力-->
    <div id="view_youbi"></div>
  </div>
  
  <script>
    document.getElementById("view_today").innerHTML = getToday(0);
    document.getElementById("view_youbi").innerHTML = getYoubi();
  </script>
  
</div>
<!--サイドメニュー1(画像と配達日)終わり-->

<!--サイドメニュー2(ジャンル)開始-->
<div class="arazin-side-menu2 ">
  <div class="genre-menu clearfix">
    <p class="genre">ジャンル</p>
    <a href="#">
      <p class="itiran">一覧</p>
    </a>
  </div>
  
  <div class="genre-contens">
    <!-- Default dropright button -->
    <div class="btn-group dropright drop-hover">
      <class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" data-offset="0,120" aria-haspopup="true" aria-expanded="false">
        <p><i class="fas fa-desktop"></i>家電</p>
      </button>
      <div class="dropdown-menu">
        <p>テレビ</p>
        <p>冷蔵庫</p>
        <p>洗濯機</p>
      </div>
    </div>
    <p><i class="fas fa-book-open"></i>本</p>
    <p><i class="fas fa-utensils"></i>食品</p>
  </div>
</div>
