<!--トップサブメニュー-->
    <div class="arazin-top-sub">
      <main class="container">
        <div class="row">
          <div class="col-lg-7 col-sm-7">
            <p class="greeding1">ようこそアラジンへ</p>
            <p class="greeding2">会員登録でアラジンマジックポイントが貯まる</p>
          </div>
          
          <div class="col-lg-5 col-sm-5">
            <a href="#" class="arazin-sighin">
              <p><i class="fas fa-user"></i>アラジン会員登録（無料）</p>
            </a>
            <a href="#" class ="arazin-login">
              <button type="button" class="btn btn-primary btn-sm"><i class="fas fa-sign-in-alt"></i>ログイン</button>
            </a>
          </div>
        </div>
      </main>
    </div>