<!DOCTYPE html>
<html lang="ja">
  <head>
   <%= render 'arazin-head' %>
  </head>
  <body class="body-arazin">
    
    <!--ナビバー-->
    <%= render 'arazin-navbar' %>
  
    <div class="top-menu">
      <main class="container">
        <div class="row">
          
          <div class=""col-lg-4 col-sm-6 mb-3"">
            <div class="arazin-title">
              <h1>Arazin</h1>
            </div>
          </div>
  
          
          <div class=""col-lg-4 col-sm-6 mb-3"">
            <div class="arazin-serch">
              <div class="input-group">
                
                <!--placeholderで最初の文字を出力　-->
                <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="キーワードから探す" >
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">詳細検索</button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                  </div>
                  <button type="submit" class="arazin-serch-icon">
                    <i class="fas fa-search renzu"></i>
                  </button>

                  
                  
                  
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </main>
    </div>
    <!--fontawesomeを利用するための読み込み-->
    <script src="https://kit.fontawesome.com/31168af8af.js"></script>
  </body>
    
</html>