<% provide(:title, "LP1") %>
</div>
<div class="lp1-navbar">

    <nav class="navbar fixed-top navbar-expand-sm navbar-dark p-0" style="background-color:#EEEEEE">
    
      <div class="collapse navbar-collapse" class="lp1-navbar1">
        <ul class="lp1-navbar-ul">
          <li class="lp1-nabver-item1">
            COMMERCE
          </li>
          <a href="#">
            <li class="lp1-nabver-item2">
            お問い合わせ
          </li>
          </a>
        </ul>
      </div>
    </nav>
</div>

<%= image_tag 'commerce_image',class:"lp1-image1",alt: "lp1_image1"%>

