<% provide(:title, "LP1") %>
</div>
<div class="lp1-navbar">
  <nav class="navbar fixed-top navbar-expand-sm navbar-dark p-0" style="background-color:#DCDCDC">
    <div class="collapse navbar-collapse" class="lp1-navbar1">
      <ul class="lp1-navbar-ul">
        <li class="lp1-nabver-item1">
          COMMERCE
        </li>
        <a href="#">
          <li class="lp1-nabver-item2">
            お問い合わせ
          </li>
        </a>
      </ul>
    </div>
  </nav>
</div>

<div class="lp1-main1">
  <h1>Eコマースのバックオフィス支援</h1>
  <h1>～受注/CS対応からデータ分析まで～</h1>
  <p>COMMERCE</p>
  <%= image_tag 'commerce_image',class:"lp1-image1",alt: "lp1_image1"%>
</div>

<div class="lp1-main2">
  <p class="lp1-main2-comment1">提供サービス</p>
  <p class="lp1-main2-comment2">バックオフィス業務に特化した体制により効率性・専門性を高めています。</p>
  <%= image_tag 'pc',class:"lp1-image2",alt: "lp1_image"%>
  <%= image_tag 'internet',class:"lp1-image3",alt: "lp1_image"%>
  <%= image_tag 'blog',class:"lp1-image4",alt: "lp1_image"%>
</div>

<div class="lp1-main2-support clearfix">
  <p class="lp1-main2-support-comment1">ECサイト受注・CS代行</p>
  <p class="lp1-main2-support-comment2">ECデータ・LTV分析</p>
  <p class="lp1-main2-support-comment3">ECメディア</p>
</div>

<div class="lp1-main2-inquiry"><p class="lp1-inquiry">お問い合わせはこちら</p></div>


<div class="lp1-main3">
  <p class="lp1-main3-title">ECコンテンツ</p>
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-md-4">
        <img src="https://fancas.jp/blog/wp-content/uploads/2019/09/thum_denwa-360x230.jpg" class="lp1-main3-image1">
        <p class="lp1-main3-date">2019/09/24</p>
        <p class="lp1-main3-comment1">[Q&A]楽天から出店勧誘の電話がきました|対応前に知っておくべきこと</p>
        <p class="lp1-main3-comment2">ECオーナー楽天市場の営業担当より、出店勧誘の電話がきました。こちらから問い合わせはしていませんがどうしてで...</p>
      </div> 
      <div class="col-md-4">
        <img src="https://fancas.jp/blog/wp-content/uploads/2019/09/analytics-3265840_640-min-360x230.jpg" class="lp1-main3-image2">
        <p class="lp1-main3-date">2019/09/23</p>
        <p class="lp1-main3-comment1">[2019年最新]楽天市場の出店数は？毎月の出店数、平均月商まで深堀り</p>
        <p class="lp1-main3-comment2">今回は楽天市場に出店しているネットショップ数をご紹介します。３大ECモールと呼ばれるAmazon,yahoo!...</p>
      </div> 
      <div class="col-md-4">
        <img src="https://fancas.jp/blog/wp-content/uploads/2019/09/money-case-163495_640-min-360x230.jpg" class="lp1-main3-image3">
        <p class="lp1-main3-date">2019/09/20</p>
        <p class="lp1-main3-comment1">[約30%が退店？]楽天に出店しても赤字になる理由|見落とされがちな3つのポイント</p>
        <p class="lp1-main3-comment2">今回は楽天市場へこれから出店するにあたり、出店後に赤字にならないための注意点を解説します。予想外にかかる固定費...</p>
      </div> 
      <div class="col-md-4">
        <img src="https://fancas.jp/blog/wp-content/uploads/2019/09/business-2648052_640-min-360x230.jpg" class="lp1-main3-image1">
        <p class="lp1-main3-date">2019/09/16</p>
        <p class="lp1-main3-comment1">[Q&A]楽天から出店勧誘の電話がきました|対応前に知っておくべきこと</p>
        <p class="lp1-main3-comment2">ECオーナー楽天市場の営業担当より、出店勧誘の電話がきました。こちらから問い合わせはしていませんがどうしてで...</p>
      </div> 
      <div class="col-md-4">
        <img src="https://fancas.jp/blog/wp-content/uploads/2019/09/board-3700116_640-min-360x230.jpg" class="lp1-main3-image1">
        <p class="lp1-main3-date">2019/09/16</p>
        <p class="lp1-main3-comment1">[Q&A]楽天から出店勧誘の電話がきました|対応前に知っておくべきこと</p>
        <p class="lp1-main3-comment2">ECオーナー楽天市場の営業担当より、出店勧誘の電話がきました。こちらから問い合わせはしていませんがどうしてで...</p>
      </div> 
      <div class="col-md-4">
        <img src="https://fancas.jp/blog/wp-content/uploads/2019/09/rakuten-deal%E3%81%AE%E3%82%B3%E3%83%92%E3%82%9A%E3%83%BC-360x230.jpg" class="lp1-main3-image1">
        <p class="lp1-main3-date">2019/09/12</p>
        <p class="lp1-main3-comment1">[Q&A]楽天から出店勧誘の電話がきました|対応前に知っておくべきこと</p>
        <p class="lp1-main3-comment2">ECオーナー楽天市場の営業担当より、出店勧誘の電話がきました。こちらから問い合わせはしていませんがどうしてで...</p>
      </div> 
    </div>
    
  </div>
  
  
  
  
</div>
