<!--エラーがあったときにメッセージを出力する-->

<!--エラーがあるなら-->
<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      
      <!--pluralizeは引数が複数ならsをつけるメソッド　5errors-->
      このフォームには <%= pluralize(object.errors.count, "error") %>があります
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>