<!--アイテム検索画面-->
<% provide(:title, 'item-search') %>
<%= render 'static_pages/arazin-top-menu'%>
<div class="row">
  <aside class="col-md-3">
    <section class="side_info">
      <%= render 'static_pages/arazin-side-menu'%>
    </section>
  </aside>
  
  <div class="col-md-9">
    <%= render 'items/search_items'%>
  </div>
</div>



