@import "bootstrap";
@import "slick-theme"; 
@import "slick";

// CSSのリセット始まり
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

// html, body, div, span, object, iframe,
// h1, h2, h3, h4, h5, h6, p, blockquote, pre,
// abbr, address, cite, code,
// del, dfn, em, img, ins, kbd, q, samp,
// small, strong, sub, sup, var,
// b, i,
// dl, dt, dd, ol, ul, li,
// fieldset, form, label, legend,
// table, caption, tbody, tfoot, thead, tr, th, td,
// article, aside, canvas, details, figcaption, figure,
// footer, header, hgroup, menu, nav, section, summary,
// time, mark, audio, video {
//     margin:0;
//     padding:0;
//     border:0;
//     outline:0;
//     font-size:100%;
//     vertical-align:baseline;
//     background:transparent;
// }

// body {
//     line-height:1;
// }

// article,aside,details,figcaption,figure,
// footer,header,hgroup,menu,nav,section {
// 	display:block;
// }

// nav ul {
//     list-style:none;
// }

// blockquote, q {
//     quotes:none;
// }

// blockquote:before, blockquote:after,
// q:before, q:after {
//     content:'';
//     content:none;
// }

// a {
//     margin:0;
//     padding:0;
//     font-size:100%;
//     vertical-align:baseline;
//     background:transparent;
// }

// /* change colours to suit your needs */
// ins {
//     background-color:#ff9;
//     color:#000;
//     text-decoration:none;
// }

// /* change colours to suit your needs */
// mark {
//     background-color:#ff9;
//     color:#000;
//     font-style:italic;
//     font-weight:bold;
// }

// del {
//     text-decoration: line-through;
// }

// abbr[title], dfn[title] {
//     border-bottom:1px dotted;
//     cursor:help;
// }

// table {
//     border-collapse:collapse;
//     border-spacing:0;
// }

// /* change border colour to suit your needs */
// hr {
//     display:block;
//     height:1px;
//     border:0;
//     border-top:1px solid #cccccc;
//     margin:1em 0;
//     padding:0;
// }

// input, select {
//     vertical-align:middle;
// }
//CSSリセット修了


@charset "utf-8";

/*homeのCSS始まり*/
body{
  font-family:"Hiragino Kaku Gothic ProN","メイリオ",sans-serif;
}

// 一番上の線
header{
  border-top: 8px solid #614226;
}

// タイトル
header h1{
  font-size: 2.0em;
  margin: 40px 0 30px 0;
  text-align: center;
}

//ナビバーの枠（全体）
header nav ul{
  width: 940px;
  margin: 0 auto 0 auto;
  padding-left: 0;
  list-style-type: none;
}

//ナビバーの枠（個々）
header nav ul li{
  float: left;
  width: 155px;
  margin-right: 2px;
  text-align: center;
}

//最後の要素
header nav ul li:last-child{
  margin-right : 0;
}

//ナビゲーションのフロートの解除
.clearfix:after{
  content: '';
  display: block;
  clear:both;
}

//ナビゲーション内の文字
header nav ul li a{
  display: block;  //リンクの範囲を親要素と同じにするため（文字だけにしない）
  padding: 10px 0;
  text-decoration: none;  //リンクはデフォルトで下線がついてしまうので下線を消す
  color: #fff;
  background-color: #614226;
}

header nav ul li a:hover,
header nav ul li a:active,
header nav ul li.current a{
  background-color: #000;
}

main{
  width: 940px;
  margin: 0 auto;
}

main h2{
  font-size: 1.5em;
  position: relative;
  margin-bottom: 50px;
  text-align: center;    
}

//カフェの画像
#main_image{
  margin-top: 30px;
  margin-bottom: 30px;
}

#main_content{
  float: left;
  width: 600px;
}

#sidebar{
  float: right;
  width: 300px;
}

//bodyのh2(お知らせ、キャンペーン情報)
#home h2{
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 30px;
  padding: 5px 10px;
  text-align: left;
  border-bottom: 1px solid #614226;
  border-left: 10px solid #614226;
}

//お知らせの中身（全体）
#info dl{
  margin-bottom: 30px;
  margin-left: 20px;
}

//お知らせの日付
#info dt{
  float: left;  //日付と内容が横並びになる
  width: 8em;  //日付と内容の間にスペースが入る
}

//お知らせの日付と内容の行間
#info dt,
#info dd{
  line-height: 1.5;
}

//キャンペーン情報の中身
#campain li{
  line-height: 1.5;
  margin-left: 20px;
  list-style-type: none;
}

//バナー
#sidebar ul{
  margin: 0;
  padding: 0;
}

#sidebar ul li{
  margin-bottom: 20px;
  list-style-type: none;
}

//ホーム・商品情報など
footer{
  padding: 15px;
  text-align: center;
  color: #fff;
  background-color: #614226
}

footer ul{
  margin-bottom: 20px;
}

footer ul li{
  displey: inline;
  list-style-type: none;
}

footer ul li a{
  color: #fff;
}

footer ul li a:link{
  text-decoration: none;
}

footer ul li a:hover,
footer ul li a:active{
  text-decoration: underline;
}

/*homeのCSS終わり*/

/*galleryのCSS始まり*/
.catgallery img{
  width: 100%;
}

.body_gallery{
  padding-top: 5rem;
  font-family:"Hiragino Kaku Gothic ProN","メイリオ",san-serif;
}
/*galleryのCSS終わり*/


/*arazinのCSS始まり*/

/*■ナビバー開始                                                */

// ナビバー全体
.arazin-navbar{
  margin-bottom:50px;
}

.navbar-nav{
  padding-left:75px;
}

// ナビバーのリストの間隔調整
.navbar-nav li {
  // block幅
  width: 125px;
  // margin-right:2px;
  
  text-align: center;
  
}

// ナビバーのリストの間隔調整
.navbar-nav li a{
  display: block;
  font-weight :bold;
  // 文字の色を白に指定
  color: #fff;
}

// スーパーDeal
.nav-item1 a{
  
  border-bottom: 5px solid #00f;
}

// ランキング
.nav-item2 a{
  border-bottom: 5px solid #0f0;
}

// カード
.nav-item3 a{
  border-bottom: 5px solid #f77;
}

// ヘルプ
.nav-item4 a{
  border-bottom: 5px solid #fa7;
}

// 出店
.nav-item5 a{
  border-bottom: 5px solid #3cf;
}

/*□ナビバー終了                                           */

/*■トップメニュー開始                                      */

.arazin-top-menu{
  border-bottom:0.5px solid #999;
  padding-top:10px;
}

//タイトルロゴ　Arazin
.arazin-title h1{
  display:block;
  font-weight :bold;
  color:#00f; 
  font-style : italic;
  text-decoration: underline #00f;
  margin-right:0px;
  padding-right:0px;
  text-align:left;
  padding-top:5px;
  // font-size:1em;
}

.top-col .col-lg-5 {
  padding-right: 5px;
  padding-left: 5px;
  margin-right:0px;
}

// 検索フォーム
.arazin-serch{
  padding:18px 0px;
  // width:auto;
  text-align:left;
  // // height:10px;
  // border:3px;
  // border:solid #00F;
}

// 検索フォーム
input.serch-form { 
  width:90%; 
  border:3px;
  border:solid #00F;
}



// .arazin-serch .form-control{
//   border:3px;
//   border:solid #00F;
//   // 角を角にする
//   border-radius: 0;
// }

// 検索フォームの詳細ボタン
// .arazin-serch-icon{
//   border:solid #00F;
//   border-left-width:1px;
//   border-left-color:#BAD3FF;
//   border-radius: 0;
//   width:100px;
// }

// 検索フォームの虫眼鏡アイコン（全体）
.arazin-serch-icon{
  // display:block;
  // // position:relative;
  // width:30px;
  // height:30px;
  background-color:#00F;
  border-color:#00F;
  color:#FFF;
  
  // アイコンの大きさ調整
  // font-size: 1.2em;
  
  // // アイコンの太さ調整
  // -webkit-text-stroke:3px #00F;
  
}

// アイコンの文字
.arazin-top-menu p{
  font-size:13px;
}

.arazin-cart,.arazin-info,.arazin-browsing-history,.arazin-favorite,.arazin-purchase-history{
 display:block;
  width:75px;
  height:50px;
  margin:10px 0px 0px 0px;
  text-align:center;
  // 横に並べる
  float:left;
}

.icon-cart i,.icon-info i,.icon-browsing-history i,.icon-favorite i,.icon-purchase-history i{
  // アイコンの大きさ調整
  font-size: 1.7em;
  color:#00F;
  margin-right:5px;
}

// カーソルをあわせた時の下線を消す
.arazin-top-menu a:hover { 
  text-decoration: none; 
}

.arazin-top-menu a { 
  border-right:0.5px solid #999;
}

//最後の要素だけ枠線を無しにする
.arazin-top-menu a:last-child{
  border:none;
  
}
/*□トップメニュー終わり                                            */

/*■トップサブメニュー開始                                        */
.greeding1,.greeding2,.arazin-sighup{
  margin-top:20px;
  margin-bottom:0px;
}

//ログインボタン
.arazin-login button{
  margin-top:15px;
}

.arazin-top-sub p{
  float:left;
}

.login{
  margin-top:20px;
  margin-bottom:0px;
}

.user-info,.arazin-logout{
  margin-left:10px;
}

.greeding1{
  margin-right:10px;
  font-weight:bold;
}

//会員登録
.arazin-sighup{
  margin-right:20px;
}

//ログインボタンの中のアイコン
.arazin-login i{
  margin-right:3px;
}

/*□トップサブメニュー終わり                                 */

/*■メインカルーセル開始                                            */
.arazin-carousel{
  margin-top:20px;
  margin-bottom:40px;
}

/*□カルーセル終わり*/

/*■サイドメニュー開始                                      */

.arazin-side-menu1 .side-image1{
  
  
}

.side_image1{
  width:150px;
  height:100px;
  margin-bottom:10px;
}
.arazin-side-menu1 .side-image2{
  margin-bottom:15px;
}

.arazin-side-menu1 .araraku{
  font-size:8px;
  font-weight :bold;
  margin-left:5px;
  margin-bottom:0px;
  
  color:#000;
}

// 最短
.arazin-side-menu1 .saitan{
  font-size:8px;
  margin:5px 0px 0px 3px;
  // 縦書き
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

// 日付
#view_today{
  font-size:20px;
}

// 曜日
#view_youbi{
  font-size:10px;
  margin:11px 0px 0px 0px;
}

.saitan,#view_today,#view_youbi{
  float:left;
}

.haitatubi{
  color:#00f;
}

// サイドメニュー2(ジャンル)
.arazin-side-menu2{
  margin:40px 0px 0px 0px;
  border-top:0.5px solid #999;
  padding-top:10px;
  width:150px;
}

//ジャンル
.arazin-side-menu2 .genre{
  margin:0px 0px 0px 0px;
  text-align:left;
  font-weight:bold;
  font-size:15px;
  float:left;
}



.arazin-side-menu2 .itiran{
  margin:3px 0px 0px 0px;
  font-size:10px;
  float:right;
  text-align:right;
}

// floatの解除
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.genre-contens p{
  text-align:left;
  font-size:10px;
  margin:5px 0px 3px 0px;
}

.genre-contens i{
  margin-right:5px
}


/*□サイドメニュー終わり                          */

/*■slicカルーセル開始                                            */
.slick1,.slick2{ padding: 0 30px;}
.slick1-image1{ 
  width:100px;
  height:100px;
  margin: 0 5px;
}

.slick2-image1{
  width: 10%;
  margin: 0 5px;
}

/*□slicカルーセル終わり                          */


// デバッグ用雛形
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

// デバッグ
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/*users/showの sidebar */
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

// @extendがエラーになるためtutorialと違う
.field_with_errors, .has-error,{
  color: red;
}
.form-control{
  color: black;
}

// ログイン画面のチェックボックス
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid gray;
  }
}

/* ■items index(_items)開始*******************/

.item-pagination{
  float:left;
  padding-right:20px;
}

.items {
  list-style: none;
  padding: 0;
}

.item_index_image{
  width:100px;
  height:100px;
}


.item_index{
  padding: 10px 0;
  border-top: 1px solid #e8e8e8;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}
/* □items index(_items)終わり*******************/
/* ■items/show開始******************************/

// 画像部分
.show_image{
  margin:10px;
  width:100%;
}

// 真ん中の部分（内容）
.show_middle{
  text-align:left;
  margin:10px;
}

.show_name{
  margin:0px;
}

.show_user{
  font-size:12px;
}

.show_price{
  color:#F00;
}

.show_right{
  margin:10px;
  border: solid #C0C0C0;
  border-width:thin;
  padding:10px;
  
}
/* □items/show終わり*******************/

/* ■cart_show開始***********************/

.cart-top{
  margin-top:5px;
  border-bottom:solid #00F;
  margin-bottom:10px;
}
.cart-process {
  margin-top:12px;
}

.cart-process p{
  float:left;
  padding:2px;
}

.cart-bar{
  margin-top:4px;
  color:#ADD8E6;
}
.cart-cart,.cart-login,.cart-pay,.cart-confirm{
  border: solid #ADD8E6;
}

.cart-cart{
  background-color:#ADD8E6;
  color:#FFF;
}

.cart-comment{
  border-bottom:solid #39F;
  margin-bottom: 20px;
}
.cart-user{
  text-align:center;
}
.cart_image{
  width:30%;
  float:left;
  margin: 0px 10px 0px 10px;
}

.cart-button button{
  margin-bottom:10px;
  padding-top:10px;
  width:100%;
  text-align:center;
}

.cart-payment i{
  float:left;
  margin:3px 0px 0px 20px;
}

.cart-pointget{
  text-align:right;
  color:#ADD8E6;
}

.cart-sum{
  float:left;
}

.cart-right-price{
  text-align:right;
  color:#F00;
}
/* □cart_show終わり*******************/
/*arazinのCSS終わり                                              */